.site-nav{
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px auto 0px;
    align-items: center;
}
.logo-header{
    margin-right: 500px;
}
.site-nav .menu{
    max-width: 450px;
    width: 100%;
}
.site-nav .menu ul{
    display: flex;
    justify-content: space-between;
}
.site-nav .menu ul li a{
    color: black;
    font-size: 16px;
    transition: 0.5s;
    position: relative;
    text-decoration: none;
}
.site-nav .menu ul li a::after{
    content:'';
    display: block;
    position: absolute;
    height: 1px;
    width: 0%;
    left: 0;
    bottom: -5px;
    background-color: black;
    transition: 0.5s;
}
.site-nav .menu ul li a:hover:after{
    content:'';
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: -5px;
    background-color: #666AD0;
    transition: 0.5s;
}
.site-nav .menu ul li a:hover{
   color: #666AD0;
   transition: 0.5s;
}